:host {
  display: flex;
  flex: 1;
}

.column-list {
  display: flex;
  padding: var(--xsm);
  gap: var(--xsm);
  overflow-x: auto;
  flex: 1;
}

.column-item {
  height: 100%;
  flex: 0 0 60%;
}

.kanban-column {
  background-color: #ddd;
  border-radius: 4px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--md);
  padding: 0 var(--xsm);
}

.column-name {
  display: inline-block;
  margin-right: var(--sm);
}

.column-edit-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  filter: brightness(0);
}

.task-list {
  min-height: var(--lg);
}

.task-item {
  background-color: white;
  margin-bottom: var(--xsm);
  border-radius: 4px;
}

.task-item:last-child {
  margin-bottom: 0;
}

.column-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
