<ul class="column-list" cdkDropList cdkDropListGroup cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropKanbanColumn($event)">
  @for(kanbanColumn of kanbanColumns(); track kanbanColumn.id) {
    <li class="column-item" cdkDrag cdkDragLockAxis="x">
      <div class="kanban-column">
        <div class="column-header" cdkDragHandle>
          <h4 class="column-name">{{kanbanColumn.name}}</h4>
          <span class="column-task-count">{{kanbanColumn.tasks.length}}</span>
          <button class="column-options" type="button" (click)="modalKanbanColumnOpen.set(kanbanColumn)">ops</button>
        </div>

        <ul class="task-list" cdkDropList [cdkDropListData]="kanbanColumn.tasks" (cdkDropListDropped)="dropTask($event, kanbanColumn.id)">
          @for(task of kanbanColumn.tasks; track task.id) {
            <li class="task-item" cdkDrag>
              <app-kanban-task-card [task]="task" (click)="modalTaskOpen.set(task)" />
            </li>
          }
        </ul>
      </div>
    </li>
  }
</ul>

@if(modalKanbanColumnOpen() !== null) {
<app-modal-kanban-column 
  [kanbanColumn]="modalKanbanColumnOpen() ?? undefined" 
  type="edit" 
  (close)="modalKanbanColumnOpen.set(null)"
  (submit)="onEditColumn($event)"
  (delete)="onDeleteColumn($event)"
/>
}

@if(modalTaskOpen() !== null) {
<app-modal-task [task]="modalTaskOpen() ?? undefined" type="edit" (close)="modalTaskOpen.set(null)" (submit)="onEditTask($event)" (delete)="onDeleteTask($event)" />
}
