:host {
  display: block;
  padding: var(--xsm);
}

.task-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.tag-list {
  font-size: var(--sm);
}

.task-card-bottom {
  display: flex;
  justify-content: space-between;
  font-size: var(--sm);
}
