:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.context-header {
  display: flex;
  gap: var(--sm);
  align-items: center;
  font-size: var(--md);
  padding: var(--sm);
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.edit-context-btn {
  font-size: var(--sm);
}
