:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sm);
}

.block-head {
  display: flex;
  flex-direction: column;
}

.block-name {
  font-size: var(--md);
  font-weight: 500;
}

.block-task-name {
  font-size: var(--sm);
}

.block-time {
  font-size: var(--sm);
  color: gray;
  white-space: nowrap;
}
