:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--sm);
}

.block-head {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
}

.block-name {
  font-size: var(--sm);
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-task-name {
  font-size: var(--sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-time {
  font-size: var(--sm);
  color: gray;
  white-space: nowrap;
}
