<app-modal [title]="type() == 'create' ? 'Create Task' : 'Edit Task'" (close)="close.emit()">
  <form [formGroup]=taskForm>
    <app-input-field label="Name" type="text" formControlName="name"/>
    <app-input-field label="Due" type="date" formControlName="due"/>

    <app-select label="Priority" formControlName="priority">
      <option selected value="">No priority</option>
      @for (opt of priorityOptions; track opt.value) {
        <option [value]="opt.value">{{ opt.key }}</option>
      }
    </app-select>

    <div class="selected-tag-field">
      <app-button (click)="showTagModal.set(true)" variant="secondary">
        Select Tag
      </app-button>
      @if(selectedTag() !== null) {
        <app-tag-component [tag]="selectedTag()!"/>
      }
    </div>
  </form>

  <app-modal-footer modal-footer>
    @if(type() === 'edit') {
    <app-button (click)="onDelete()" variant="danger">Delete</app-button>
    }

    <app-button [disabled]="taskForm.invalid" (click)="onSubmitForm()" variant="primary">Confirm</app-button>
  </app-modal-footer>
</app-modal>

@if(showTagModal()) {
  <app-modal-tag 
    (close)="showTagModal.set(false)" 
    (submit)="onSelectTag($event)"
    (delete)="onDeleteTag($event)"
    [tag]="selectedTag() ?? undefined"
  />
}
