<app-modal [title]="type() == 'create' ? 'Create Task' : 'Edit Task'" (close)="close.emit()">
  <form [formGroup]=taskForm>
    <app-input-field label="Name" type="text" formControlName="name"/>
    <app-input-field label="Due" type="date" formControlName="due"/>

    <label>Priority</label>
    <select formControlName="priority">
      <option [value]="null">No priority</option>
      @for (opt of priorityOptions; track opt.value) {
      <option [value]="opt.value">{{ opt.key }}</option>
      }
    </select>
  </form>


  <app-modal-footer modal-footer>
    @if(type() === 'edit') {
    <app-button (click)="onDelete()" variant="danger">Delete</app-button>
    }

    <app-button [disabled]="taskForm.invalid" (click)="onSubmitForm()" variant="primary">Confirm</app-button>
  </app-modal-footer>
</app-modal>
