<app-modal [title]="type() == 'create' ? 'Create Task' : 'Edit Task'" (close)="close.emit()">
  <form [formGroup]=taskForm>
    <app-input-field label="Name" type="text" formControlName="name"/>
    <app-input-field label="Due" type="date" formControlName="due"/>
  </form>

  <app-modal-footer modal-footer>
    @if(type() === 'edit') {
    <app-button (click)="onDelete()" variant="danger">Delete</app-button>
    }

    <app-button [disabled]="taskForm.invalid" (click)="onSubmitForm()" variant="primary">Confirm</app-button>
  </app-modal-footer>
</app-modal>
