form {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
}

.form-field {
  display: flex;
  flex-direction: column;

  input {
    font-size: var(--md);
  }
}

.selected-tag-field {
  display: flex;
  gap: var(--sm);
  align-items: center;

  span {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
