<ul class="actions-list" [class.open]="isOpen()">
  <li class="action-item" (click)="isModalOpen.set('task')">task</li>
  <li class="action-item" (click)="isModalOpen.set('context')">context</li>
  <li class="action-item" (click)="isModalOpen.set('column')">column</li>
</ul>
<button class="action-btn" type="button" (click)="isOpen.set(!isOpen()); $event.stopPropagation()">+</button>

@switch(isModalOpen()) {
  @case('task') {
    <app-modal-task (close)="isModalOpen.set('none')" (submit)="onCreateTask($event)" />
  }

  @case('column') {
    <app-modal-kanban-column (close)="isModalOpen.set('none')" (submit)="onCreateKanbanColumn($event)"/>
  }

  @case('context') {
    <app-modal-context (close)="isModalOpen.set('none')" (submit)="onCreateContext($event)"/>
  }
}
