:host {
  display: inline-block;
  font-size: var(--sm);
}

.tag-chip {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-weight: 500;
  color: white;
  border-radius: 999px;
  line-height: 1.4;
}
