:root {
  --accent-color: #083d77;
  --danger-color: #d32f2f;
  --warn-color: #f59e0b;
  --success-color: #16a34a;
  --background-color: #EFEFEF;
  --surface-color: #ffffff88;
  --border-color: #d1d5db;
  --text-color: #111827;
  --text-muted: #9ca3af;
  --xsm: 0.5rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xlg: 2rem;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding: var(--xsm);
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}
