/* You can add global styles to this file, and also import other style files */
:root {
  --accent-color: #083d77;
  --background-color: #EFEFEF;
  --xsm: 0.5rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.5rem;
  --xlg: 2rem;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding: var(--xsm);
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}
