<div 
  #timelineContainer
  class="timeline-container"
  [style.height.px]="24 * 60 * pixelsPerMinute"
>
  @if(today.getDay() === dateTime().getDay()) {
    <div 
      class="current-hour-bar"
      [style.top.px]="(dateTime().getHours() * 60 + dateTime().getMinutes()) * pixelsPerMinute"
    ></div>
  }

  <div class="hour-marks" [style.gap.px]="60 * pixelsPerMinute - 2">
    @for(hour of hours; track hour) {
      <div class="hour-mark">
        <span class="hour-number">{{hour}}:00</span>
        <div class="hour-line"></div>
      </div>
    }
  </div>

  <div class="hour-border"></div>

  <div #timeBlocksContainer class="time-blocks">
    @for(block of timeBlocks(); track block.id) {
      <div class="time-block-wrapper" 
        (click)="onBlockClick(block)"
        cdkDrag
        cdkDragBoundary=".timeline-container"
        cdkDragLockAxis="y"
        (cdkDragStarted)="isDragging = true"
        [cdkDragConstrainPosition]="contrainBlockPosition(pixelsPerMinute)"
        (cdkDragEnded)="onDragBlockEnded($event, block)"
        [style.top.px]="getStartMinutes(block) * pixelsPerMinute"
        [style.height.px]="block.duration * pixelsPerMinute"
        [style.width]="getBlockOverlapWidth(block.id)"
        [style.left]="getBlockOverlapPadding(block.id)"
      >
          <app-time-block-component 
            class="time-block"
            [timeBlock]="block" 
            cdkDragHandle
           />

          <div
            #resizeHandle
            class="time-block-resize-handle"
            (pointerdown)="onResizeBlockPointerDown($event, block)"
            (pointermove)="onResizeBlockPointerMove($event, block)"
            (pointerup)="onResizeBlockPointerUp(block)"
            (pointercancel)="onResizeBlockPointerUp(block)"
          ></div>
      </div>
    }      
  </div>
</div>

@if(showTimeBlockModal() !== null) {
  <app-modal-time-block 
    type="edit" 
    [timeBlock]="showTimeBlockModal()!" 
    (submit)="onEditTimeBlock($event)" 
    (delete)="onDeleteBlock($event)"
    (close)="showTimeBlockModal.set(null)"
  />
}
